h1, h2, h3, h4, h5, h6 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

main {
    margin-left: 1em;
}

ol.roman {
    list-style-type: upper-roman;
}

ol.alpha {
    list-style: upper-alpha;
}

#toc {
    max-height: 512px;
}

input.mini {
    width: 5em;
}