h1, h2, h3, h4, h5, h6 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

p, a, label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav.bt {
    color: white;
    background-color: #dc00d1;
}

nav.tp {
    color: black;
    background-color: #70f65c;
}

nav > h1 {
    font-family: 'Segoe UI',
        Tahoma,
        Geneva,
        Verdana,
        sans-serif;
    text-align: center;
}

main {
    margin-left: 1em;
}

hr {
    margin: 1em;
}

ol.roman {
    list-style-type: upper-roman;
}

ol.alpha {
    list-style: upper-alpha;
}

#toc {
    max-height: 512px;
}

input.mini {
    width: 5em;
}